<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SoundOfMind.mapper.ChattingMapper">
	<select id="chat" parameterType="String"
		resultType="com.SoundOfMind.domain.Chatting">
		SELECT TO_ID, DATE_FORMAT(DATE,'%y-%m-%d %H:%i') AS DATE,
		FROM_ID,CHAT
		FROM CHATTING
		WHERE FROM_ID = #{from_id} AND TO_ID =
		#{to_id} OR FROM_ID = #{to_id} AND TO_ID=#{from_id}
		ORDER BY DATE ASC;
	</select>
	<select id="chatlist" parameterType="String"
		resultType="com.SoundOfMind.domain.Chatting">
		SELECT DISTINCT TO_ID
		FROM CHATTING
		WHERE FROM_ID = #{id};
	</select>
	<insert id="ChatSend" parameterType="String">
		INSERT INTO
		CHATTING(DATE,TO_ID,FROM_ID,CHAT)
		VALUES
		(now(),#{to_id},#{from_id},#{chat})
	</insert>
	<select id="ResentChat" parameterType="String"
		resultType="com.SoundOfMind.domain.Chatting">
		SELECT TO_ID, DATE_FORMAT(DATE,'%y-%m-%d %H:%i') AS DATE,
		FROM_ID,CHAT
		FROM CHATTING
		WHERE FROM_ID =#{from_id} AND TO_ID=#{to_id}
		OR FROM_ID= #{to_id} AND TO_ID=#{from_id}
		ORDER BY DATE DESC
		LIMIT 1;
	</select>
	<delete id="deleteChat" parameterType="String">
		DELETE FROM CHATTING WHERE
		TO_ID=#{to_id} AND FROM_ID=#{from_id}
	</delete>
	<insert id="ToMessage" parameterType="String">
		INSERT INTO
		CHATTING(DATE,TO_ID,FROM_ID,CHAT)
		VALUES (now(),#{to_id},#{from_id},#{chat});
	</insert>
</mapper>