<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SoundOfMind.mapper.MypageMapper">
	<select id="emotion" parameterType="String"
		resultType="com.SoundOfMind.domain.Emotion">
		SELECT @rownum:=@rownum+1 as rownum, E.*
		FROM (SELECT * FROM
		EMOTION WHERE ID=#{id} AND (@rownum :=0)=0 ORDER BY DATE
		DESC) E
	</select>

	<update id="profile_update" parameterType="String">
		update
		MEMBER_INFO set
		PROFILE = #{profile} where id=#{id}
	</update>

	<select id="profile_save" parameterType="String"
		resultType="String">
		select PROFILE from MEMBER_INFO where id=#{id}
	</select>


	<select id="mycomushow" parameterType="String"
		resultType="com.SoundOfMind.domain.Storege">
		SELECT @rownum:=@rownum+1 as rownum, S.*
		FROM (SELECT
		S_INDEX,TITLE,DATE,CLICK,ID FROM STOREGE WHERE (@rownum:=0)=0 ORDER BY DATE
		DESC) S
		WHERE ID=#{id}

	</select>

	<delete id="DeleteStorege" parameterType="int">
		DELETE FROM STOREGE
		WHERE S_INDEX=#{s_index}
	</delete>


</mapper>