<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<display-name>FrontController</display-name>
  	<description></description>
  	<servlet-class>ikujo.frontcontroller.FrontController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NutrientsAjax</servlet-name>
  	<display-name>NutrientsAjax</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.NutrientsAjax</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecommendSys</servlet-name>
  	<display-name>RecommendSys</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.RecommendSys</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecommendFoodInsert</servlet-name>
  	<display-name>RecommendFoodInsert</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.RecommendFoodInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DessertAjax</servlet-name>
  	<display-name>DessertAjax</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.DessertAjax</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IPinfo</servlet-name>
  	<display-name>IPinfo</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.IPinfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecommendNutriInsert</servlet-name>
  	<display-name>RecommendNutriInsert</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.RecommendNutriInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberCheck</servlet-name>
  	<display-name>MemberCheck</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.MemberCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberIdAjax</servlet-name>
  	<display-name>MemberIdAjax</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.MemberIdAjax</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberNmAjax</servlet-name>
  	<display-name>MemberNmAjax</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.MemberNmAjax</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChattingAjax</servlet-name>
  	<display-name>ChattingAjax</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.ChattingAjax</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChttingFlask</servlet-name>
  	<display-name>ChttingFlask</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.ChttingFlask</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteChattingAjax</servlet-name>
  	<display-name>DeleteChattingAjax</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.DeleteChattingAjax</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChattingDeleteCheck</servlet-name>
  	<display-name>ChattingDeleteCheck</display-name>
  	<description></description>
  	<servlet-class>ikujo.controller.ChattingDeleteCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NutrientsAjax</servlet-name>
  	<url-pattern>/NutrientsAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecommendSys</servlet-name>
  	<url-pattern>/RecommendSys</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecommendFoodInsert</servlet-name>
  	<url-pattern>/RecommendFoodInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DessertAjax</servlet-name>
  	<url-pattern>/DessertAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IPinfo</servlet-name>
  	<url-pattern>/IPinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecommendNutriInsert</servlet-name>
  	<url-pattern>/RecommendNutriInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberCheck</servlet-name>
  	<url-pattern>/MemberCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberIdAjax</servlet-name>
  	<url-pattern>/MemberIdAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberNmAjax</servlet-name>
  	<url-pattern>/MemberNmAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChattingAjax</servlet-name>
  	<url-pattern>/ChattingAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChttingFlask</servlet-name>
  	<url-pattern>/ChttingFlask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteChattingAjax</servlet-name>
  	<url-pattern>/DeleteChattingAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChattingDeleteCheck</servlet-name>
  	<url-pattern>/ChattingDeleteCheck</url-pattern>
  </servlet-mapping>
</web-app>
