<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ikujo.mapper.FoodcateMapper">
	<select id="selectCate" parameterType="String" resultType="FoodcateDTO">
		select img,foodnm,kcal,carbohydrate,protein,fat from food where label like '%'||#{keyword}||'%'
	</select>
	

</mapper>